[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mysql = "*"
mysql-connector-python = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
